
/*---------------------------------------
TOP HEADER
-----------------------------------------*/

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    z-index: 2; /* Stay on top */
}

/* Style the links inside the navigation bar */
.topnav a {
    float: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


/*---------------------------------------
SIDE NAVIGATION MENU
-----------------------------------------*/

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 20%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 40%;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/*---------------------------------------
STYLE : BOX OF THE MONITORING APPLICATION
-----------------------------------------*/

.floating-box {
    bleu :#1D7FB2;
    vert : #8C8910;
    rouge : #CA1725;
    gris :rgb(63, 63, 78);

    float: left;
    width: 16%;
    height: 150px;
    margin: 2px;
    padding : 0px;
    background : #1D7FB2;

    opacity:1
}

.nom{
    color: #666;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 2px;
}

.contenu{
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.2px;

body {
        background: #ffffff;
    font-family: 'Lora', serif;
    font-style: normal;
        font-weight: 300;
    overflow-x: hidden;
}




/*---------------------------------------
    Button Switch
-----------------------------------------*/

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
/*---------------------------------------
    Typography
-----------------------------------------*/
/*
h1,h2,h3,h4,h5,h6 {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.5px;
}

h1 {
    color: #fffeff;
    font-size: 10px;
    padding-bottom: 14px;
    margin-bottom: 0px;
}

h2 {
  color: #fffeff;
  font-size: 8px;
}

h2,h3 {
  color: #fffeff;
  padding-bottom: 6px;
}

h3 {
  color: #fffeff;
  font-size: 8px;
}

h4 {
  color: #fffeff;
  font-size: 10px;
  font-weight: normal;
  letter-spacing: 2px;
}

p {
    color: #fffeff;;
    font-size: 10px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.2px;
}
*/
