
/*---------------------------------------
TOP HEADER
-----------------------------------------*/

/* Add a black background color to the top navigation */
.topnav {
    background-color: #336699;
    overflow: hidden;
    z-index: 1; /* Stay on top */
}

/* Style the links inside the navigation bar */
.topnav a {
    float: center;
    display: inline;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


/*---------------------------------------
SIDE NAVIGATION MENU
-----------------------------------------*/

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 20%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */

    top: 40;
    right: 0;
    background-color: #336699; /* Blue*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
#event-title {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 40%;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/*#main {
    transition: margin-right .5s;
    padding: 0 px;
    margin-right : 20%;
}*/

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#eventbar{
    padding: 10px 0px 0px 0px;
    background-color: white;
    margin: 0px 0px 0px 10px;
    height : 100%;
}


/*---------------------------------------
STYLE : BOX OF THE MONITORING APPLICATION
-----------------------------------------*/

.floating-box {

    float: left;
    width: 250px;
    height: 50px;
    margin: 5px;
    padding : 5px;
    background-color : #f2f2f2;
    display : show;
    opacity:1
}

.nom{
    color: #666;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    margin : 1px;
    margin-right: 10%;
}

.contenu{
    color: #777;
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 1px;
    margin-left: 10%;
}


.bedroom{
    background-image: url("static/image/bedroom.png");
    background-repeat: no-repeat;
    width: auto; /*or your image's width*/
    height: auto; /*or your image's height*/
    margin: 0;
    padding: 0;
}
.
.shower{
    background-image: url("static/image/shower.svg");
}

.place{
    color: #666;
    float : center;
    display: none;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 1px;
    margin : 1px;
    margin-right: 10%;
}

body{
    background-color : #006633;
}

p {
    text-align: center;
    vertical-align: middle;
    background-color : indianred;
    color : white;
}

